:root {
    --blue: #3232ff;
    --grey: #404041;
    --light-gray: #f1f1f1;
    --box-shadow: 10px 15px 50px 0 rgba(0, 0, 0, 0.2);
}

@font-face {
    font-family: "Gilory-Bold";
    src: url(./../src/fonts/Gilroy-Bold.ttf)
}

@font-face {
    font-family: "Gilory-Regular";
    src: url(./../src/fonts/Gilroy-Regular.ttf);
}
@font-face{
    font-family: "Gilory-Medium";
    src:url(./../src//fonts/Gilroy-Medium.ttf)
}

/*Begin Normalization*/
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body{
    overflow-x: hidden;
}