<template>
    <div class="home">
        <MainTest />
        <Workouts />
        <DietProgram />
        <Mobiles />
        <MobItrainer />
        <Fitnesscare />
        <SecondWorkouts />
        <NftMarket />
        <MobilesTwo />
        <MobTwoItranier />
        <D3Section />
        <WheelCircle />
        <WatchMove />
        <WatchesApple />
        <WatchItrainer />
        <CaloriesCalculator />
        <DataCount />
        <QuestionsPart />
    </div>
</template>

<script>
import MainTest from "@/components/MainTest.vue";
import Workouts from "@/components/Workouts.vue";
import DietProgram from "@/components/DietProgram.vue";
import Mobiles from "@/components/Mobiles.vue";
import MobItrainer from "@/components/MobItrainer.vue";
import D3Section from "@/components/D3Section.vue";
import WheelCircle from "@/components/WheelCircle.vue";
import Fitnesscare from "@/components/Fitnesscare.vue";
import SecondWorkouts from "@/components/SecondWorkouts.vue";
import NftMarket from "@/components/NftMarket.vue";
import MobTwoItranier from "@/components/MobTwoItranier.vue";
import MobilesTwo from "@/components/MobilesTwo.vue";
import WatchMove from "@/components/WatchMove.vue";
import WatchItrainer from "@/components/WatchItrainer.vue";
import CaloriesCalculator from "@/components/CaloriesCalculator.vue";
import DataCount from "@/components/DataCount.vue";
import QuestionsPart from "@/components/QuestionsPart.vue";
import WatchesApple from "@/components/WatchesApple.vue";
export default {
    name: "HomeView",
    components: {
        MainTest,
        Workouts,
        DietProgram,
        Mobiles,
        MobItrainer,
        D3Section,
        WheelCircle,
        SecondWorkouts,
        Fitnesscare,
        NftMarket,
        MobTwoItranier,
        MobilesTwo,
        WatchMove,
        WatchItrainer,
        CaloriesCalculator,
        DataCount,
        QuestionsPart,
        WatchesApple,
    },
};
</script>
