<template>
    <div class="flex caloriesContainer mb-16 m-auto">
        <div class="calories w-1/2 text-center p-32 m-auto">
            <img class="m-auto mb-6 fire" :src="calc" alt="" />
            <h3 class="text-white calc">Calories Calculator</h3>
            <p class="calcPrag">
                Lorem Ipsum is simply dummy text of<br />
                the typesetting industry. Lorem
            </p>

            <img class="m-auto" :src="arrow" alt="" />
        </div>

        <div class="w-1/2 rightPart text-white py-16 px-24 bg-black">
            <div>
                <h6 class="font-bold bodyParam text-m mb-6">
                    Body parameters:
                </h6>
                <div>
                    <div class="flex wrapClass mb-4 gap-3">
                        <button class="blueBtn py-3 px-14 rounded">
                            Female
                        </button>
                        <button class="grayBtn py-3 px-14 rounded">Male</button>
                    </div>
                    <div class="flex wrapClass gap-3 mb-6">
                        <button class="grayBtn gray py-3 px-7 rounded">
                            Age
                        </button>
                        <button class="grayBtn gray py-3 px-7 rounded">
                            Weight
                        </button>
                        <button class="grayBtn gray py-3 px-7 rounded">
                            Height
                        </button>
                    </div>
                </div>
            </div>
            <div class="mb-12 activity">
                <h6 class="font-bold levelHead text-m mb-4">Activity level:</h6>
                <p class="gray mb-8">
                    <span class="text-white text-bold"> Middle : </span>
                    Activity that burns an additional 400-620 calories for
                    females or 500-800 calories for males.
                </p>

                <div id="form-wrapper  ">
                    <form action="/p/quote.php" method="GET">
                        <div id="debt-amount-slider">
                            <input
                                type="radio"
                                name="debt-amount"
                                id="1"
                                value="1"
                                required
                            />
                            <label for="1" data-debt-amount="Low"></label>
                            <input
                                type="radio"
                                name="debt-amount"
                                id="2"
                                value="2"
                                required
                            />
                            <label for="2" data-debt-amount="Middle"></label>
                            <input
                                type="radio"
                                name="debt-amount"
                                id="3"
                                value="3"
                                required
                            />
                            <label for="3" data-debt-amount="High"></label>
                            <input
                                type="radio"
                                name="debt-amount"
                                id="4"
                                value="4"
                                required
                            />
                            <label for="4" data-debt-amount="Very high"></label>

                            <div id="debt-amount-pos"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="goals">
                <h6 class="font-bold text-m mb-2">Goals:</h6>
                <div class="gap-2 wrapClass mb-8 flex">
                    <button class="blueBtn rounded py-3 px-8">Loss</button>
                    <button class="grayBtn rounded py-3 px-8">Gain</button>
                    <button class="grayBtn rounded py-3 px-8">
                        Healthy life style
                    </button>
                </div>
            </div>
            <div class="flex wrapClass claculate justify-between mr-24">
                <button class="clear rounded py-3 px-6">Clear</button>
                <button class="blueBtn rounded py-3 px-8">Calculate</button>
            </div>
        </div>
    </div>
</template>

<script>
import calc from "../assets/calc.svg";

import arrow from "../assets/arrow.png";
export default {
    name: "ItrainerCaloriesCalculator",

    data() {
        return {
            calc,
            arrow,
        };
    },

    mounted() {},

    methods: {},
};
</script>

<style lang="scss" scoped>
.calories {
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    height: 100vh;
}
.caloriesContainer {
    height: 100vh;
}
.calc {
    font-size: 60px;
    line-height: 55px;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.calcPrag {
    font-size: 17px;
    line-height: 25px;
    color: white;
    margin-bottom: 1rem;
}
.fire {
    background-image: url(../assets/back.png);
    background-repeat: no-repeat;
    padding: 1rem;
    border-radius: 1rem;
}

$number-of-options: 5;
html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    color: #000;
    user-select: none;
}
#form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    width: 90%;
    max-width: 500px;
    #form-title {
        margin-top: 0;
        font-weight: 400;
        text-align: center;
    }
    #debt-amount-slider {
        display: flex;
        flex-direction: row;
        align-content: stretch;
        position: relative;
        width: 100%;
        height: 50px;
        user-select: none;
        &::before {
            content: " ";
            position: absolute;
            height: 2px;
            width: 100%;
            width: calc(
                100% * (#{$number-of-options - 1} / #{$number-of-options})
            );
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #000;
        }
        input,
        label {
            box-sizing: border-box;
            flex: 1;
            user-select: none;
            cursor: pointer;
        }
        label {
            display: inline-block;
            position: relative;
            width: 20%;
            height: 100%;
            user-select: none;
            &::before {
                content: attr(data-debt-amount);
                position: absolute;
                left: 50%;
                padding-top: 10px;
                transform: translate(-50%, 45px);
                font-size: 14px;
                letter-spacing: 0.4px;
                font-weight: 400;
                white-space: nowrap;
                opacity: 0.85;
                transition: all 0.15s ease-in-out;
            }
            &::after {
                content: " ";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 30px;
                height: 30px;
                border: 2px solid rgb(10, 10, 10);
                background: #fff;
                border-radius: 50%;
                pointer-events: none;
                user-select: none;
                z-index: 1;
                cursor: pointer;
                transition: all 0.15s ease-in-out;
            }
            &:hover::after {
                transform: translate(-50%, -50%) scale(1.25);
            }
        }
        input {
            display: none;
            &:checked {
                + label::before {
                    font-weight: 800;
                    opacity: 1;
                }
                + label::after {
                    border-width: 4px;
                    transform: translate(-50%, -50%) scale(0.75);
                }
                ~ #debt-amount-pos {
                    opacity: 1;
                }
                @for $i from 1 through $number-of-options {
                    &:nth-child(#{$i * 2 - 1}) ~ #debt-amount-pos {
                        left: #{($i * 25%) - 12.5%};
                    }
                }
            }
        }
        #debt-amount-pos {
            display: block;
            position: absolute;
            top: 50%;
            width: 12px;
            height: 12px;
            background: #3232ff;
            border-radius: 50%;
            transition: all 0.15s ease-in-out;
            transform: translate(-50%, -50%);
            border: 2px solid #fff;
            opacity: 0;
            z-index: 2;
        }
    }
    &:valid {
        #debt-amount-slider {
            input {
                + label::before {
                    transform: translate(-50%, 45px) scale(0.9);
                    transition: all 0.15s linear;
                }
                &:checked + label::before {
                    transform: translate(-50%, 45px) scale(1.1);
                    transition: all 0.15s linear;
                }
            }
        }
    }
    & + button {
        display: block;
        position: relative;
        margin: 56px auto 0;
        padding: 10px 20px;
        appearance: none;
        transition: all 0.15s ease-in-out;
        font-family: inherit;
        font-size: 24px;
        font-weight: 600;
        background: #fff;
        border: 2px solid #000;
        border-radius: 8px;
        outline: 0;
        user-select: none;
        cursor: pointer;
        &:hover {
            // transform: scale(1.1);
            background: #000;
            color: rgb(255, 255, 255);
            &:active {
                transform: scale(0.9);
            }
        }
        &:focus {
            background: #4caf50;
            border-color: #4caf50;
            color: #fff;
            pointer-events: none;
            &::before {
                animation: spin 1s linear infinite;
            }
        }
        &::before {
            display: inline-block;
            width: 0;
            opacity: 0;
            content: "\f3f4";
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            margin-right: 0;
            transform: rotate(0deg);
        }
    }
    &:invalid + button {
        pointer-events: none;
        opacity: 0.25;
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }
    to {
        transform: rotate(360deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }
}
.blueBtn {
    background-color: #3232ff;
}
.grayBtn {
    background: rgba(187, 187, 255, 0.11);
    border: 1px solid rgba(187, 187, 255, 0.16);
}
.gray {
    color: rgba(255, 255, 255, 0.3);
}
.blueBtn:hover {
    background: rgba(187, 187, 255, 0.11);
    border: 1px solid rgba(187, 187, 255, 0.16);
}
.grayBtn:hover {
    background-color: #3232ff;
    color: white;
}
.clear {
    color: rgba(255, 255, 255, 0.3);
}
.clear:hover {
    background-color: #3232ff;
    color: white;
}
    @media only screen and (min-width: 1200px) {
         .rightPart {
        padding: 3rem 3rem;
    }

    .bodyParam {
        margin: 0.5rem 0;
    }
    .goals {
        margin-bottom: 1rem;
    }
    }
@media only screen and (min-width: 992px)and (max-width: 1200px)  {
         .rightPart {
        padding: 2rem 2rem;
    }

    .bodyParam {
        margin: 0.5rem 0;
    }
    .goals {
        margin-bottom: 1rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px){  
        .rightPart {
        padding: 1rem 1rem;
    }

    .bodyParam {
        margin: 0.5rem 0;
    }
    .goals {
        margin-bottom: 1rem;
    }
    .calories{
    padding: 6rem 3rem;
}
}

@media only screen and (min-width: 600px) and  (max-width: 768px) {
.caloriesContainer{
    flex-wrap: wrap;
    margin-bottom: 45rem;
}
.calories{
    width: 100%;
    padding: auto;
    background-repeat: repeat;
}
.rightPart{
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;

}
}

@media only screen and (max-width: 600px) {
   .caloriesContainer{
    flex-wrap: wrap;
    margin-bottom: 45rem;
}
.calories{
    width: 100%;
    padding: auto;
    background-repeat: repeat;
}
.rightPart{
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;

} 
}

</style>
