<template>
    <div class="extraordinary flex m-auto justify-center gap-26">
        <div class="w-1/2 px-20 py-20 ordinarySection">
            <h3 class="discover mb-12">
                Discover collect, & sell <span> Extraordinary </span> NFTs
            </h3>
            <p class="mb-12 marketPlace">
                the leading NFT Marketplace on bedo Home to the next generation
                of digital creators. Discover the best NFT collections.
            </p>
            <button class="explore">Explore Bedocoin</button>
        </div>
        <div class="containerPic flex w-1/2 m-auto">
            <div class="picMove">
                <img class="picspan" :src="picspan" />
            </div>
        </div>
    </div>
</template>

<script>
import image2 from "../assets/image2.jpg";
import image3 from "../assets/image3.jpg";
import image from "../assets/image.jpg";
import man from "../assets/man.jpg";
import verified from "../assets/verified.png";
import picspan from "../assets/picspan.png";
export default {
    name: "ItrainerD3Section",

    data() {
        return {
            image,
            man,
            verified,
            image3,
            image2,
            picspan,
        };
    },

    mounted() {
        const container = document.querySelector(".containerPic");
        const wheels = document.querySelector(".picMove");
        container.addEventListener("mousemove", (e) => {
            console.log(e.pageX, e.pageY);
            let xAxis = (window.innerWidth / 2 - e.pageX) / 105;
            let yAxis = (window.innerHeight / 2 - e.pageY) / 105;
            wheels.style.transform = `rotateY(${yAxis}deg)  rotateX(${xAxis}deg) scaleX(-1)`;
        });

        container.addEventListener("mouseenter", (e) => {
            wheels.style.transition = "none";
            console.log(e);
        });

        container.addEventListener("mouseleave", (e) => {
            console.log(e);
            wheels.style.transition = "all 0.5s ease";
            wheels.style.transform = "rotateY(0 deg) rotateX(0 deg)";
        });
    },

    methods: {},
};
</script>

<style scoped>
.extraordinary {
    background-color: black;
    color: white;
    height: 100vh;
}
h3 span {
    background: linear-gradient(270deg, #b3f1ff 0%, #3232ff 100%),
        linear-gradient(97.56deg, #3232ff 30.27%, #9acbff 92.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.marketPlace {
    font-size: 19px;
    line-height: 26px;
    text-transform: capitalize;
}
.discover {
    font-size: 4rem;
    line-height: 68px;

    text-transform: capitalize;
}
.explore {
    width: 275px;
    height: 60px;
    color: black;
    background: #ffffff;
    box-shadow: 0px 101px 40px rgba(0, 0, 0, 0.01),
        0px 57px 34px rgba(0, 0, 0, 0.05), 0px 25px 25px rgba(0, 0, 0, 0.09);
    border-radius: 55px;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: capitalize;
}
.explore:hover {
    background: linear-gradient(270deg, #b3f1ff 0%, #3232ff 100%),
        linear-gradient(97.56deg, #3232ff 30.27%, #9acbff 92.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border: 2px solid white;
}
.picspan {
    width: 100%;
    transform-style: preserve-3d;

    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.container {
    perspective: 1000px;
}
@media only screen and (min-width: 1200px) {
    .ordinarySection {
        padding-left: 3rem;
    }
    .containerPic {
        margin: -5rem;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .ordinarySection {
        padding-left: 3rem;
    }
    .discover {
        font-size: 3.4rem;
    }
    .explore {
        width: 250px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .extraordinary {
        padding: 0.3rem;
        flex-wrap: wrap;
        margin-bottom: 60rem;
    }
    .picMove {
        width: 80%;
        margin: auto;
    }
    .containerPic {
        margin: -6px;
        width: 102%;
        background-color: black;
    }
    .ordinarySection {
        width: 100%;
        height: 100vh;
        text-align: center;
    }
    .discover {
        font-size: 3.4rem;
    }
    .marketPlace {
        font-size: 20px;
        line-height: 35px;
    }
    .explore {
        width: 250px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .extraordinary {
        padding: 0.3rem;
        flex-wrap: wrap;
        margin-bottom: 50rem;
    }
    .picMove {
        width: 80%;
        margin: auto;
    }
    .containerPic {
        margin: -6px;
        width: 102%;
        background-color: black;
    }
    .ordinarySection {
        width: 100%;
        height: 100vh;
        text-align: center;
    }
    .discover {
        font-size: 2.8rem;
    }
    .marketPlace {
        font-size: 19px;
        line-height: 35px;
    }
    .explore {
        width: 250px;
    }
}

@media only screen and (max-width: 600px) {
    .extraordinary {
        padding: 0.3rem;
        flex-wrap: wrap;
        margin-bottom: 35rem;
    }
    .picMove {
        width: 80%;
        margin: auto;
    }
    .containerPic {
        margin: -6px;
        width: 106%;
        background-color: black;
    }
    .ordinarySection {
        width: 100%;
        height: 100vh;
        text-align: center;
    }
    .discover {
        font-size: 2.5rem;
        line-height: 55px;
    }
    .marketPlace {
        font-size: 17px;
        line-height: 34px;
        margin-bottom: 1rem;
    }
    .explore {
        width: 250px;
    }
}
</style>
