<template>
    <div class="m-auto justify-center text-center countSection flex">
        <div>
            <h5 class="countHead mb-16">
                Lorem Ipsum is simply <br />printing and typesetting
                <br />
                <span> Dummy text printing </span>
            </h5>
            <div class="flex gap-40 counter text-center m-auto">
                <div class="countWrap ">
                    <div class="flex count ">
                        <div id="valueFour">0</div>
                        <span> k +</span>
                    </div>
                    <label> Users</label>
                </div>
                <div  class="countWrap ">
                    <div class="flex count ">
                        <div id="valueThree">0</div>
                        <span> k +</span>
                    </div>
                    <label> Downloads</label>
                </div>
                <div class=" countWrap">
                    <div class="count">
                        <div id="valueTwo">0</div>
                    </div>

                    <label> Diet</label>
                </div>
                <div class="countWrap ">
                    <div class="flex count ">
                        <div id="value">0</div>
                        <span> % </span>
                    </div>
                    <label> Workouts</label>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ItrainerDataCount",

    data() {
        return {};
    },

    mounted() {
        function animateValue(obj, start, end, duration) {
            let startTimestamp = null;
            const step = (timestamp) => {
                if (!startTimestamp) startTimestamp = timestamp;
                const progress = Math.min(
                    (timestamp - startTimestamp) / duration,
                    1
                );
                obj.innerHTML = Math.floor(progress * (end - start) + start);
                if (progress < 1) {
                    window.requestAnimationFrame(step);
                }
            };
            window.requestAnimationFrame(step);
        }

        const obj = document.getElementById("value");
        animateValue(obj, 0, 76, 5000);

        function animateValueTwo(obj, start, end, duration) {
            let startTimestamp = null;
            const step = (timestamp) => {
                if (!startTimestamp) startTimestamp = timestamp;
                const progress = Math.min(
                    (timestamp - startTimestamp) / duration,
                    1
                );
                obj.innerHTML = Math.floor(progress * (end - start) + start);
                if (progress < 1) {
                    window.requestAnimationFrame(step);
                }
            };
            window.requestAnimationFrame(step);
        }

        const objTwo = document.getElementById("valueTwo");
        animateValueTwo(objTwo, 0, 193, 5000);

        function animateValueThree(obj, start, end, duration) {
            let startTimestamp = null;
            const step = (timestamp) => {
                if (!startTimestamp) startTimestamp = timestamp;
                const progress = Math.min(
                    (timestamp - startTimestamp) / duration,
                    1
                );
                obj.innerHTML = Math.floor(progress * (end - start) + start);
                if (progress < 1) {
                    window.requestAnimationFrame(step);
                }
            };
            window.requestAnimationFrame(step);
        }

        const objThree = document.getElementById("valueThree");
        animateValueThree(objThree, 0, 2.3, 1000);

        function animateValueFour(obj, start, end, duration) {
            let startTimestamp = null;
            const step = (timestamp) => {
                if (!startTimestamp) startTimestamp = timestamp;
                const progress = Math.min(
                    (timestamp - startTimestamp) / duration,
                    1
                );
                obj.innerHTML = Math.floor(progress * (end - start) + start);
                if (progress < 1) {
                    window.requestAnimationFrame(step);
                }
            };
            window.requestAnimationFrame(step);
        }

        const objFour = document.getElementById("valueFour");
        animateValueFour(objFour, 0, 4.9, 1000);
    },

    methods: {},
};
</script>

<style scoped>
div {
    font-weight: 800;
}
.countSection {
    height: 100vh;
    font-family: url(../../public/fonts/Gilroy-Medium.ttf);
}
.countHead {
    font-size: 26px;
    line-height: 61px;
}
.countHead span {
    background: linear-gradient(270deg, #b3f1ff 0%, #3232ff 100%),
        linear-gradient(97.56deg, #3232ff 30.27%, #9acbff 92.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}




    @media only screen and (min-width: 1200px) {
.counter {
    font-size: 50px;
}
.counter label {
    font-size: 18px;
    font-weight: lighter;
}
    }


@media only screen and (min-width: 992px)and (max-width: 1200px)  {
      .counter {
          font-size: 50px;
        gap: 10rem;
    } 

.counter label {
    font-size: 18px;
    font-weight: lighter;
}
}
@media only screen and (min-width: 768px) and (max-width: 992px){  
      .counter {
          font-size: 43px;
        gap: 7rem;
    } 

.counter label {
    font-size: 18px;
    font-weight: lighter;
}

}
@media only screen and (min-width: 600px) and  (max-width: 768px) {
     .counter {
          font-size: 40px;
        gap: 4.5rem;
    } 

.counter label {
    font-size: 18px;
    font-weight: lighter;
}

}
@media only screen and (max-width: 600px) {
     .counter {
          font-size: 40px;
     gap: 0;
        flex-wrap: wrap;
    } 

.counter label {
    font-size: 18px;
    font-weight: lighter;
}
.countWrap{
    width: 100%;
    margin-bottom: 3rem;

}
.count{
    margin:auto;
    justify-content: center;
}
.countSection{
    margin-bottom: 17rem;
}


}





</style>
