<template>
    <div>
        <section
            class="site-section fitness-section"
            id="fitness-section"
            data-scroll-section
        >
            <div
                class="paragraph-container container"
                data-scroll
                data-scroll-speed="2"
            >
                <p
                    class="gradient-text font-bold"
                    style="z-index: 2; position: relative"
                >
                    Fitnesscare should be simple—not scary. That’s why we made
                    Programs. Where success starts the moment you hit play, and
                    uncertainty is out of the equation. Our team of experts have
                    what you need, and our Community keeps you in good company.
                    You got this, and we got you. Let’s go.
                </p>
                <div class="overlay"></div>
            </div>
        </section>
    </div>
</template>

<script>
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
gsap.registerPlugin(ScrollTrigger);

export default {
    name: "ItrainerFitnesscare",

    data() {
        return {};
    },

    mounted() {
        gsap.to(".fitness-section", {
            scrollTrigger: {
                trigger: ".fitness-section",
                start: "+=300 bottom",
                end: "top bottom ",
                markers: false,
                onEnter: () =>
                    document
                        .querySelector(".fitness-section")
                        .classList.add("dark"),
                onEnterBack: () =>
                    document
                        .querySelector(".fitness-section")
                        .classList.remove("dark"),
                scrub: 1,
            },
        });
    },

    methods: {},
};
</script>

<style scoped>
.fitness-section {
    padding: 3rem 0rem;
    position: relative;
    transition: all 0.2s ease-in-out;
    background: linear-gradient(
        0deg,
        rgb(255, 255, 255) 0%,
        rgba(255, 255, 255, 1) 100%
    );

    height: 100vh;
}
.fitness-section .overlay {
    position: absolute;
    content: "";
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}
.fitness-section.dark .overlay {
    opacity: 1;
}

#nft-hand-section,
.fitness-section {
    margin-bottom: -2px;
}

.fitness-section .gradient-text {
    src: url(../../public/fonts/Gilroy-Bold.ttf);
    line-height: 3.8rem;
    background: linear-gradient(270deg, #b3f1ff 0%, #3232ff 100%),
        linear-gradient(97.56deg, #3232ff 30.27%, #9acbff 92.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
}

.fitness-section .paragraph-container {
    width: 50rem;
    margin: auto;
    max-width: 80%;
    color: #323232;
}

    @media only screen and (min-width: 1200px) {
   .gradient-text {
        font-size: 2.2rem ;
    }

    }

@media only screen and (min-width: 992px)and (max-width: 1200px)  {

       .gradient-text {
        font-size: 2rem ;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){  
       .gradient-text {
        font-size: 1.8rem ;
        line-height: 1.6rem;
    }
}
@media only screen and (min-width: 600px) and  (max-width: 768px) {

         .gradient-text {
        font-size: 1.6rem ;
        line-height: 1.2rem;
    }
}
@media only screen and (max-width: 600px) {
            .gradient-text {
        font-size: 1.5rem ;
        line-height: 1.1rem;
    } 
}




</style>
