<template>
    <footer>
        <div class="footer-Section footerContainer">
            <div class="logoo">
                <div class="footerLogo">
                    <img :src="logoOne" />
                </div>
                <div class="flex gap-1 footerLogoo">
                    <img :src="logoTwo" />
                    <img :src="logoThree" />
                </div>
            </div>

            <div class="footer-sectionn  policy">
                <p class="privacy-policy mt-14 text-center">
                    <router-link
                        to="/privacy-policy"
                        class="privacy-policy"
                        target="_blank"
                    >
                        Privacy poilcy -
                    </router-link>

                    <span>
                        <router-link to="/term-of-use" target="_blank">
                            Terms of use
                        </router-link>
                    </span>
                </p>

                <p class="copy-right text-center">
                    Copyright 2022 Codebase All Rights Reserved
                </p>
            </div>
            <div class="icons">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin-in"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
    </footer>
</template>

<script>
import logoOne from "../assets/logoFooterone.png";
import logoTwo from "../assets/logoFootertwo.png";
import logoThree from "../assets/logoFooterthree.png";
export default {
    name: "ItrainerFooterSection",

    data() {
        return {
            logoOne,
            logoTwo,
            logoThree,
        };
    },

    mounted() {},

    methods: {},
};
</script>

<style scoped>
.footer-Section div span a {
    color: #9795b5;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}

.footer-Section {
    display: flex;
    margin: 3rem 9rem 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-Section div img {
    margin: 0.6rem 0;
}
.footer-Section div i {
    color: #3232ff;
    background: rgba(187, 187, 255, 0.28);
    padding: 0.7rem;
    border-radius: 0.3rem;
    margin: 3.6rem 0.4rem 0;
    font-size: 1.4rem;
}
.privacy-policy a {
    color: #9795b5;
    font-weight: 400;
    font-size: 1rem;
    line-height: 0.8rem;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.1rem;
}


    @media only screen and (min-width: 1200px) {

.copy-right {
    font-size: 1rem;
    font-weight: 400;
}

    }
@media only screen and (min-width: 992px)and (max-width: 1200px)  {

  .footerContainer {
        width: 85%;
        margin: 3rem 5rem 2rem;
        flex-wrap: wrap;
    }
    .footer-Section {
        margin: auto;
  
}
.copy-right {
    font-size: .8rem;
    font-weight: 400;
}
.privacy-policy{
    font-size: 1.9rem;
    
    margin-top: 2.5rem;

}

}


@media only screen and (min-width: 768px) and (max-width: 992px){  
 .footerContainer {
        width: 95%;
    }
    .footer-Section {
        flex-wrap: nowrap;
  
    margin: 3rem 2rem 2rem;
}
.copy-right {
    font-size: .7rem;
    font-weight: 400;
}
.privacy-policy{
    font-size: 1.9rem;
    
    margin-top: 2.5rem;

}
.footer-Section div i{
   
    margin: 3.6rem 0.1rem 0;
    font-size: .8rem;
}
.privacy-policy a {
 
    font-size: .9rem;
}
.footerLogo{
    width: 45%;
}
.footerLogoo{
    width:45%;
    gap:.3rem
}

}


@media only screen and (min-width: 600px) and  (max-width: 768px) {


    .footer-Section {
        flex-wrap: wrap;
  
    margin: 3rem 2rem 2rem;
}



.copy-right {
    font-size: .7rem;
    font-weight: 400;
}
.privacy-policy{
    font-size: 1.9rem;
    
    margin-top: 2.5rem;

}
.footer-Section div i{
   
    margin: 3.6rem 0.3rem 0;
    font-size: 1rem;
}
.privacy-policy a {
 
    font-size: .9rem;
}
.footerLogo{
    width: 45%;
}
.footerLogoo{
    width:45%;
    gap:.3rem
}
.icons{
    
    margin: auto;

}
}

@media only screen and (max-width: 600px) {

    .footer-Section {
        flex-wrap: wrap;
    margin: 3rem 3rem 2rem;
 
}
.policy{
    margin: auto;
}



.copy-right {
    font-size: .7rem;
    font-weight: 400;
}
.privacy-policy{
    font-size: 1.9rem;
    
    margin-top: 2.5rem;

}
.footer-Section div i{
   
    margin: 3.6rem 0.3rem 0;
    font-size: 1rem;
}
.privacy-policy a {
 
    font-size: .9rem;
}
.footerLogo{
    width: 55%;
    margin:  0 auto 1rem ;
    
}
.footerLogoo{
    width:45%;
    gap:.4rem
}
.icons{
    
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;

}
.logoo{
    margin: auto;
}


}


</style>
