<template>
    <div class="navHeader" data-scroll-sticky data-scroll-section data-scroll>
        <div class="navBar fixed top-0 flex">
            <div class="basis-1/2 logoItrainer">
                <img :src="image" alt="logo" />
            </div>
            <div class="flex gap-4 basis-1/2 font-bold btnDownload">
                <button class="flex gap-3">
                    <img :src="androidLogo" alt="android logo" class="mt-1" />
                    <span> Download for android</span>
                </button>
                <button class="flex gap-3">
                    <img :src="iosLogo" alt="ios logo" class="mt-0" />
                    <span> Download for ios</span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import image from "../assets/logo.png";
import android from "../assets/android.png";
import ios from "../assets/ios.png";
export default {
    name: "Itrainer-header",

    data() {
        return {
            image: image,
            androidLogo: android,
            iosLogo: ios,
        };
    },
};
</script>

<style scoped>
.navHeader {
    src: url(././../../public/fonts/Gilroy-Bold.ttf);
    background-color: rgb(255 255 255 / 50%);

    width: 100% !important;
}
button {
    box-shadow: 2px 8px 18px rgba(0, 0, 0, 0.2);
    width: fit-content;
    padding: 0.8rem 1rem;
    border-radius: 2rem;
}
.navBar {
    background: transparent;
    z-index: 9999999999999999;
    transform: unset !important;
    opacity: 1 !important;
    pointer-events: auto !important;
    background-color: rgb(255 255 255 / 70%);
    width: 100% !important;
}


    @media only screen and (min-width: 1200px) {
    .navHeader {
        width: 100%;
    }

    .logoItrainer {
        margin-left: 11%;
        flex-basis: 10rem;
    }

    .navBar {
        gap: 35%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media only screen and (min-width: 992px)and (max-width: 1200px)  {
        .navHeader {
        width: 100%;
    }

    .logoItrainer {
        margin-left: 10%;
        flex-basis: 8rem;
    }
        .navBar {
        gap: 34%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}



@media only screen and (min-width: 768px) and (max-width: 992px){  
      .logoItrainer {
        margin-left: 10%;
        flex-basis: 10rem;
    }
        .navBar {
        gap: 32%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    span{
        display: none;
    }
    button{
        padding: .6rem 2rem  ;
    }
    .btnDownload{
        
        margin-left:10%;
    }
 
}
@media only screen and (min-width: 600px) and  (max-width: 768px) {
      .logoItrainer {
        margin-left: 10%;
        flex-basis: 10rem;
    }
        .navBar {
        gap: 32%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    span{
        display: none;
    }
    button{
        padding: .5rem 1.8rem  ;
    }
    .btnDownload{
        gap: 10px;
        
        margin-left:8%;
    }

}
@media only screen and (max-width: 600px) {

    .logoItrainer {
        margin-left: 8%;
        flex-basis: 9rem;
    }
        .navBar {
        gap: 32%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    span{
        display: none;
    }
    button{
        padding: .3rem 1.6rem  ;
    }
    .btnDownload{
        gap: 4px;
        margin-left:8%;
    }

}









</style>
