<template>
    <section class="hero-section">
        <div class="text-xl mx-1 px-10 mt-14" id="gradient-text-wrapper">
            <div class="mb-5 pt-4 font-bold">
                Total Care.<br />
                Total Different.
            </div>
            <div
                class="text-box"
                v-for="(item, i) in sentence"
                :key="i"
                :data-index="i"
            >
                <div class="single-intro-text font-bold">
                    {{ item.pOne }}
                </div>
                <div class="single-intro-text font-bold">
                    {{ item.pTwo }}
                </div>
                <br />
                <br />
            </div>
        </div>

        <div class="mockup-holder" id="intro-mockup-inner">
            <div
                class="box"
                v-for="(item, $index) in imgs"
                :key="$index"
                :data-index="$index"
            >
                <img src="../assets/mob-0.png" alt="" />
            </div>
        </div>
    </section>
</template>

<script>
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
gsap.registerPlugin(ScrollTrigger);
export default {
    name: "HeroHeader",
    data() {
        return {
            imgs: [
                {
                    src: "../assets/mob-0.png",
                    alt: "hero image",
                },
                {
                    src: "../assets/mob-0.png",
                    alt: "hero image",
                },
                {
                    src: "../assets/mob-0.png",
                    alt: "hero image",
                },
                {
                    src: "../assets/mob-0.png",
                    alt: "hero image",
                },
                {
                    src: "../assets/mob-0.png",
                    alt: "hero image",
                },
                {
                    src: "../assets/mob-0.png",
                    alt: "hero image",
                },
                {
                    src: "../assets/mob-0.png",
                    alt: "hero image",
                },
                {
                    src: "../assets/mob-0.png",
                    alt: "hero image",
                },
            ],
            sentence: [
                {
                    pOne: `The sky is the limit. The features that you get with
                    iTrainer when it comes to exercise, nutrition, and even your
                    personal and professional life are limitless. Let’s get to
                    know some of them. .All in the App`,
                    pTwo: `The sky is the limit. The features that you get with
                    iTrainer when it comes to exercise, nutrition, and even your
                    personal and professional life are limitless. Let’s get to
                    know some of them. .All in the App`,
                },
                {
                    pOne: `The sky is the limit. The features that you get with
                    iTrainer when it comes to exercise, nutrition, and even your
                    personal and professional life are limitless. Let’s get to
                    know some of them. .All in the App`,
                    pTwo: `The sky is the limit. The features that you get with
                    iTrainer when it comes to exercise, nutrition, and even your
                    personal and professional life are limitless. Let’s get to
                    know some of them. .All in the App`,
                },
                {
                    pOne: `The sky is the limit. The features that you get with
                    iTrainer when it comes to exercise, nutrition, and even your
                    personal and professional life are limitless. Let’s get to
                    know some of them. .All in the App`,
                    pTwo: `The sky is the limit. The features that you get with
                    iTrainer when it comes to exercise, nutrition, and even your
                    personal and professional life are limitless. Let’s get to
                    know some of them. .All in the App`,
                },
            ],
        };
    },
    methods: {
        initAnimation() {
            const imagesArr = document.querySelectorAll(".mockup-holder .box");
            const sentenceArr = document.querySelectorAll(
                "#gradient-text-wrapper .text-box"
            );
            const getCurrentSection = (e) => {
                console.log("sdsds", e);
            };
            // Set up our scroll trigger
            const ST = ScrollTrigger.create({
                trigger: ".hero-section",
                start: "top top",
                end: "bottom bottom",
                onUpdate: getCurrentSection,
                markers: true,
                pin: ".hero-section",
            });

            console.log(ST, imagesArr, sentenceArr);
        },
    },
    mounted() {
        this.initAnimation();
    },
};
</script>

<style scoped></style>
