<template>
    <div>
        <div>
            <section
                id="introductory-container"
                class="text-center"
                data-scroll-section
            >
                <div
                    id="introductory"
                    class="customized-scrollbar shadow-lg mb-12 container"
                    data-scroll-section-inner
                    tabindex="0"
                >
                    <div
                        class="gradient-text text-xl px-14"
                        id="gradient-text-wrapper"
                    >
                        <div
                            data-marker-content="box1"
                            class="header-total-care text-boox"
                        >
                            <div class="mb-10 pt-4 titleHeader font-bold">
                                Total Care.<br />
                                Total Different.
                            </div>
                            <div class="single-intro-text font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>

                            <br />
                            <div class="single-intro-text font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>

                            <br />
                            <div class="single-intro-text deletlDiv font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>
                        </div>

                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />

                        <div
                            data-marker-content="box2"
                            class="text-boox secondDiv"
                        >
                            <div class="single-intro-text font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>

                            <br />
                            <div class="single-intro-text font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>

                            <br />
                            <div class="single-intro-text deletlDiv font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <div
                            data-marker-content="box3"
                            class="text-boox thirdDiv"
                        >
                            <div class="single-intro-text font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>

                            <br />
                            <div class="single-intro-text font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>

                            <br />
                            <div class="single-intro-text deletlDiv font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <div
                            data-marker-content="box4"
                            class="text-boox fourthDiv"
                        >
                            <div class="single-intro-text font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>

                            <br />
                            <div class="single-intro-text fourthOne font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>

                            <br />
                            <div
                                class="single-intro-text deletlDiv fourthTwo font-bold"
                            >
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />

                        <div
                            data-marker-content="box5"
                            class="text-boox fifthDiv"
                        >
                            <div class="single-intro-text font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>

                            <br />
                            <div class="single-intro-text font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>
                            <br />

                            <div class="single-intro-text deletlDiv font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>
                        </div>
                    </div>

                    <div
                        class="mockup-holderr relative images"
                        id="intro-mockup-inner"
                    >
                        <img :src="mobImg" class="box absolute" alt="mob" />
                        <div class="img-container">
                            <img
                                class="insideImg absolute"
                                v-for="(item, index) in images"
                                :key="index"
                                :src="item"
                                :class="{ active: activeImg == index }"
                            />
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script setup>
import { onMounted, ref } from "vue";
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";

import imageMob from "../assets/mob-0.png";
import imageMob1 from "../assets/mob-1.png";
import imageMob2 from "../assets/mob-2.png";
import imageMob3 from "../assets/mob-3.png";
import imageMob4 from "../assets/mob-4.png";
import mobImg from "../assets/mobile_mockup2.png";

gsap.registerPlugin(ScrollTrigger);

const initAnimation = () => {
    const handleUpdate = (i) => {
        activeImg.value = i;
        console.log(activeImg);
    };
    const texts = document.querySelectorAll(".text-boox");
    texts.forEach((item, i) => {
        let tl = gsap.timeline({
            scrollTrigger: {
                trigger: item,
                start: "bottom bottom",
                end: "bottom bottom",
                scrub: 1,
                markers: false,

                snap: false,
                onUpdate: () => handleUpdate(i),
            },
        });
        tl.fromTo(
            item,
            0.2,
            { yPercent: 0, autoAlpha: 1 },
            { yPercent: 0, autoAlpha: 1 }
        );
    });
};
const images = ref([imageMob, imageMob1, imageMob2, imageMob3, imageMob4]);
const activeImg = ref(0);

onMounted(() => {
    initAnimation();
});
</script>

<style scoped>
#introductory-container {
    margin-top: 10rem;
}
#introductory {
    width: 75%;
    margin: auto;
}

.header-total-care {
    font-size: 3.8rem;
    src: url(../../public/fonts/Gilroy-Bold.ttf);
    line-height: 3.9rem;
    background: linear-gradient(270deg, #b3f1ff 0%, #3232ff 100%),
        linear-gradient(97.56deg, #3232ff 30.27%, #9acbff 92.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.single-intro-text {
    font-size: 2.3rem;
    src: url(../../public/fonts/Gilroy-Bold.ttf);
    line-height: 3.4rem;
    background: linear-gradient(270deg, #b3f1ff 0%, #3232ff 100%),
        linear-gradient(97.56deg, #3232ff 30.27%, #9acbff 92.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.box {
    position: absolute;
    left: 180%;
    max-width: 415px;
}
.mockup-holderr {
    position: sticky;
    width: fit-content;
    bottom: 0;
}
#introductory {
    position: relative;
}
.insideImg {
    opacity: 0;
    transform: translateX(10px);
    position: absolute;
    top: -108%;
    left: 224.5%;
    bottom: 0;
    right: 0;
    max-width: 176px;
}
.img-container {
    width: 200px;
    height: 200px;
    position: relative;
}

img.active {
    transition: all 0.5s ease-in-out;
    transform: translateX(0px);
    opacity: 1;
}

@media only screen and (min-width: 1200px) {
    #introductory {
        width: 75%;
        margin: auto;
    }
    .gradient-text {
        width: 100%;
        margin: auto;
    }
    .header-total-care {
        width: 100%;
    }
    .box {
        transform: translate(-30%, -53.5%);
    }
    .insideImg {
        left: 214.5%;
    }
    #introductory-container {
        margin: auto;
        margin-top: 10rem;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #introductory {
        width: 75%;
        margin: auto;
    }
    .gradient-text {
        width: 100%;
        margin: auto;
    }
    .header-total-care {
        width: 100%;
    }
    .box {
        transform: translate(-50%, -53.5%);
    }
    .insideImg {
        left: 172.5%;
    }
    #introductory-container {
        margin: auto;
        margin-top: 10rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    #introductory {
        width: 75%;
        margin: auto;
    }
    .gradient-text {
        width: 100%;
        margin: auto;
    }
    .header-total-care {
        width: 100%;
    }
    .box {
        transform: translate(-70%, -48.5%);
        max-width: 380px;
    }
    .insideImg {
        left: 135.5%;
        top: -89%;
        max-width: 160px;
    }
    #introductory-container {
        margin: auto;
        margin-top: 10rem;
    }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    #introductory {
        width: 75%;
        margin: auto;
    }
    .gradient-text {
        width: 100%;
        margin: auto;
    }
    .header-total-care {
        width: 100%;
    }
    .box {
        transform: translate(-87%, -44.5%);
        max-width: 350px;
    }
    .insideImg {
        left: 109.5%;
        top: -74%;
        max-width: 147px;
    }
    #introductory-container {
        margin: auto;
        margin-top: 10rem;
    }
    .deletlDiv {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    #introductory {
        width: 80%;
        margin: auto;
    }
    .gradient-text {
        width: 100%;
        margin: auto;
    }
    .header-total-care {
        width: 100%;
    }
    .box {
          transform: translate(-112%, -35.5%);
    max-width: 300px;
    }
    .insideImg {
          left: 82.5%;
    top: -49%;
    max-width: 125px;
    }
    #introductory-container {
        margin: auto;
        margin-top: 10rem;
    }
    .deletlDiv {
        display: none;
    }
    .titleHeader{
        font-size: 3rem;
    }
    .single-intro-text{
        font-size: 2rem;

    }
}
</style>
