<template>
    <section>
        <div class="flex relative columnsContainer" data-scroll-container>
            <div class="flex-col-reverse column-wrap column-wrap-height">
                <div
                    class="flex flex-col-reverse topMove relative will-change-transform columnContainer"
                >
                    <div class="m-0 relative column-item">
                        <img :src="two" alt="mobile" />
                    </div>
                    <div class="m-0 relative column-item">
                        <img :src="one" alt="mobile" />
                    </div>
                </div>
            </div>

            <div class="flex-col-reverse column-wrap column-wrap-height">
                <div
                    class="flex flex-col-reverse downMove relative will-change-transform columnContainer"
                >
                    <div class="m-0 relative column-item">
                        <img :src="three" alt="mobile" />
                    </div>
                    <div class="m-0 relative column-item">
                        <img :src="four" alt="mobile" />
                    </div>
                </div>
            </div>

            <div
                class="flex-col-reverse thirdDiv column-wrap column-wrap-height"
            >
                <div
                    class="flex flex-col-reverse topMove relative will-change-transform columnContainer"
                >
                    <div class="m-0 relative column-item">
                        <img :src="five" alt="mobile" />
                    </div>
                    <div class="m-0 relative column-item">
                        <img :src="six" alt="mobile" />
                    </div>
                </div>
            </div>

            <div
                class="flex-col-reverse fourthDiv column-wrap column-wrap-height"
            >
                <div
                    class="flex flex-col-reverse downMove relative will-change-transform columnContainer"
                >
                    <div class="m-0 relative column-item">
                        <img :src="four" alt="mobile" />
                    </div>
                    <div class="m-0 relative column-item">
                        <img :src="seven" alt="mobile" />
                    </div>
                </div>
            </div>

            <div
                class="flex-col-reverse fiveDivv column-wrap column-wrap-height"
            >
                <div
                    class="flex flex-col-reverse topMove relative will-change-transform columnContainer"
                >
                    <div class="m-0 relative column-item">
                        <img :src="five" alt="mobile" />
                    </div>
                    <div class="m-0 relative column-item">
                        <img :src="two" alt="mobile" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import one from "../assets/ezgif 10.png";
import two from "../assets/ezgif 11.png";
import three from "../assets/ezgif 2.png";
import four from "../assets/ezgif 3.png";
import five from "../assets/ezgif 4.png";
import six from "../assets/ezgif 5.png";
import seven from "../assets/ezgif 6.png";

export default {
    name: "ItrainerMobiles",

    data() {
        return {
            one,
            two,
            three,
            four,
            five,
            six,
            seven,
        };
    },

    methods: {},
};
</script>

<style scoped>
.grid-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.grid-section > div {
    width: 20%;
    text-align: center;
    margin: 15px 0;
}

.grid-section > div img {
    width: calc(100% - 30px);
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 32px;
    height: 100%;
    -webkit-transition: 0.4s all linear;
    -o-transition: 0.4s all linear;
    transition: 0.4s all linear;
}

.site-grid-container {
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
    margin-top: -24rem;
}

.grid-image-wrapper {
    overflow: hidden;
    margin-bottom: 1rem;
    width: 100%;
}

.grid-image-wrapper:hover img {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.columnsContainer {
    justify-content: center;
    padding: 0 7rem;
    width: 100%;
    margin-bottom: 22rem;
}
.column-wrap {
    flex-direction: column;
    z-index: 1;
}
.column-wrap-height {
    z-index: 1;
    display: flex;
    position: relative;
}
.columnContainer {
    transform: translateY(0px);
    position: relative;
    will-change: transform;
    opacity: 1;
}
.topMove {
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.column-item {
    margin: 0;
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    margin: 5px 2px;
}
.column-item img {
      height: 440px;
    width: 270px;
    padding: 0 5px;
}

.downMove {
    position: relative;
    animation-name: exampleTwo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes exampleTwo {
    0%,
    100% {
        left: 0px;
        top: 100px;
    }

    50% {
        left: 0px;
        top: 0px;
    }
}

@keyframes example {
    0%,
    100% {
        left: 0px;
        top: 0px;
    }

    50% {
        left: 0px;
        top: 100px;
    }
}
    @media only screen and (min-width: 1200px) {

 .column-item img {
        height: 400px;
        width: 230px;
    }
    .columnsContainer {
        margin-bottom: 25rem;
    }
    .box {
        max-width: 470px;
    }


}

@media only screen and (min-width: 992px)and (max-width: 1200px)  {
    .fiveDivv {
        display: none;
    }
    .column-item img {
        height: 400px;
        width: 230px;
    }
    .columnsContainer {
        margin-bottom: 25rem;
    }
    .box {
        max-width: 470px;
    }
        .columnsContainer{
    padding: 0 5rem;

}
}
@media only screen and (min-width: 768px) and (max-width: 992px){  

   .fiveDivv ,.fourthDiv{
        display: none;
    }
    .column-item img {
        height: 400px;
        width: 230px;
    }
    .columnsContainer {
        margin-bottom: 25rem;
    }
    .box {
        max-width: 470px;
    }
        .columnsContainer{
    padding: 0 4rem;

}

}

@media only screen and (min-width: 600px) and  (max-width: 768px) {

   .fiveDivv ,.fourthDiv,.thirdDiv{
        display: none;
    }
    .column-item img {
        height: 400px;
        width: 230px;
    }
    .columnsContainer {
        margin-bottom: 25rem;
    }
    .box {
        max-width: 470px;
    }
        .columnsContainer{
    padding: 0 4rem;

}


}
@media only screen and (max-width: 600px) {

  .fiveDivv ,.fourthDiv,.thirdDiv{
        display: none;
    }
    .column-item img {
        height: 400px;
        width: 230px;
    }
    .columnsContainer {
        margin-bottom: 25rem;
    }
    .box {
        max-width: 470px;
    }
    .columnsContainer{
    padding: 0 3rem;

}

}
</style>
