<template>
    <div>
        <div>
            <section
                id="introductory-container"
                class="container mx-auto text-center"
                data-scroll-section
                ref="container"
            >
                <div
                    id="introductory"
                    class="customized-scrollbar mb-12 container"
                    data-scroll-section-inner
                    tabindex="0"
                >
                    <div
                        class="gradient-text text-xl mx-8 px-10"
                        id="gradient-text-wrapper"
                    >
                        <div
                            data-marker-content="box1"
                            class="header-total-care text-box-two"
                        >
                            <div class="font-bold single-intro-text">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />

                        <div
                            data-marker-content="box2"
                            class="text-box-two secondDiv"
                        >
                            <div class="single-intro-text font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <div
                            data-marker-content="box3"
                            class="text-box-two thirdDiv"
                        >
                            <div class="single-intro-text font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <div
                            data-marker-content="box4"
                            class="text-box-two fourthDiv"
                        >
                            <div class="single-intro-text font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <div
                            data-marker-content="box5"
                            class="text-box-two fifthDiv"
                        >
                            <div class="single-intro-text font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>
                        </div>
                    </div>

                    <div
                        class="mockup-holder relative images transition-all duration-500"
                        id="intro-mockup-inner"
                        ref="MockupHolder"
                    >
                        <img :src="RightMob" class="box absolute" alt="mob" />
                        <div class="img-container">
                            <img
                                class="insideImg absolute"
                                v-for="(item, index) in images"
                                :key="index"
                                :src="item"
                                :class="{ active: activeImg == index }"
                            />
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script setup>
import { onMounted, ref } from "vue";
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";

import imageMob from "../assets/mob-0.png";
import imageMob1 from "../assets/mob-1.png";
import imageMob2 from "../assets/mob-2.png";
import imageMob3 from "../assets/mob-3.png";
import imageMob4 from "../assets/mob-4.png";
import RightMob from "../assets/right_mobile_mockup.png";

gsap.registerPlugin(ScrollTrigger);
const MockupHolder = ref(null);
const container = ref(null);
const initAnimation = () => {
    const handleUpdate = (i) => {
        activeImg.value = i;

        if (images.value.length - 1 == i) {
            if (window.innerWidth <= 1280) {
                MockupHolder.value.setAttribute(
                    "style",
                    `transform: translate(150%,150%);opacity:0`
                );
                console.log("hh");
                return;
            }
            MockupHolder.value.setAttribute(
                "style",
                `transform: translate(150%,70%);opacity:0`
            );
        } else {
            if (MockupHolder.value) {
                MockupHolder.value.setAttribute(
                    "style",
                    `transform: translate(0%,0%);opacity:1`
                );
            }
        }
    };
    const texts = document.querySelectorAll(".text-box-two");
    texts.forEach((item, i) => {
        let tl = gsap.timeline({
            scrollTrigger: {
                trigger: item,
                start: "bottom bottom",
                end: "bottom 0",
                scrub: 1,
                markers: false,
                snap: false,
                onUpdate: () => handleUpdate(i),
            },
        });
        tl.fromTo(
            item,
            0.2,
            { yPercent: 0, autoAlpha: 1 },
            { yPercent: 0, autoAlpha: 1 }
        );
    });
};
const images = ref([imageMob, imageMob1, imageMob2, imageMob3, imageMob4]);
const activeImg = ref(0);

onMounted(() => {
    initAnimation();
});
</script>

<style scoped>
#introductory-container {
    margin: 8rem 2rem 0rem 2rem;
}

.header-total-care {
    font-size: 3.8rem;
    src: url(../../public/fonts/Gilroy-Bold.ttf);
    line-height: 3.9rem;
    background: linear-gradient(270deg, #b3f1ff 0%, #3232ff 100%),
        linear-gradient(97.56deg, #3232ff 30.27%, #9acbff 92.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.single-intro-text {
    font-size: 2.2rem;
    src: url(../../public/fonts/Gilroy-Bold.ttf);
    line-height: 3.4rem;
    background: linear-gradient(270deg, #b3f1ff 0%, #3232ff 100%),
        linear-gradient(97.56deg, #3232ff 30.27%, #9acbff 92.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    width: 35rem;
}
.box {
    position: absolute;
    left: 200%;
    max-width: 500px;
    transform: translate(-80%, 21%);
}
.mockup-holder {
    position: sticky;
    width: fit-content;
    top: 0;
    height: 100vh;
}
#introductory {
    display: flex;
    position: relative;
}

.insideImg {
    opacity: 0;
    transform: translateX(10px);
    position: absolute;
    top: 64%;
    left: 26%;
    bottom: 0;
    right: 0;
    max-width: 191px;
}
.img-container {
    width: 200px;
    height: 200px;
    position: relative;
}

img.active {
    transition: all 0.5s ease-in-out;
    transform: translateX(0px);
    opacity: 1;
}

@media only screen and (min-width: 1200px) {
    .box {
        transform: translate(-90%, 21%);
        max-width: 480px;
    }
    .insideImg {
        top: 64%;
        left: 8%;
        max-width: 186px;
    }
    .mockup-holder {
        top: 24px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .box {
        transform: translate(-80%, 25%);
        max-width: 450px;
    }
    .insideImg {
        top: 70%;
        left: 44%;
        max-width: 173px;
    }
    .mockup-holder {
        top: 24px;
    }

    .single-intro-text {
        font-size: 1.9rem;
        line-height: 3rem;
        width: 33rem;
    }
    .gradient-text {
        padding: 0;
        margin-left: 1rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .box {
        transform: translate(-90%, 25%);
        max-width: 450px;
    }
    .insideImg {
        top: 70%;
        left: 21%;
        max-width: 173px;
    }
    .mockup-holder {
        top: 24px;
    }

    .single-intro-text {
        font-size: 1.5rem;
        line-height: 3rem;
        width: 26rem;
    }
    .gradient-text {
        padding: 0%;
        margin-left: 0;
    }
}


@media only screen and (min-width: 600px) and (max-width: 768px) {
    .mockup-holder {
        display: none;
    }

    .single-intro-text {
        font-size: 1.6rem;
        margin: auto;
    }
    .gradient-text {
        padding: 0 !important;
        margin: auto;

    }

     #introductory-container {
        margin: 8rem auto 0rem auto;
    }
}
@media only screen and (max-width: 600px) {
    .mockup-holder {
        display: none;
    }

    .single-intro-text {
        font-size: 1.5rem;
        margin: auto;
        width: 90%;
    }
    #introductory-container {
        margin: 8rem auto 0rem auto;
    }
        .gradient-text {
        padding: 0 !important;
        margin: auto;

    }
}
</style>
