<template>
    <section class="bg-white mt-16 mb-0 progressDiet">
        <div class="flex align-center text-center bg-white mt-8 justify-center">
            <div class="panel mt-12 smooth-contentt">
                <p class="feelBest text-center">
                    Everything you need<br />
                    to feel your best.
                </p>
                <div class="box box-c" data-speed="1.5">
                    <img
                        class="mx-auto w-64 my-6 movePicc"
                        :src="image"
                        alt="diet"
                    />
                </div>
                <h4 class="programs">NFT Market</h4>
            </div>
        </div>
        <div
            class="panel flex fixDiv justify-center align-center shadow-2xl rounded-2 mx-80 text-center"
        >
            <div class="w-96 progressDiv">
                <div class="mb-12 justify-center align-center flex mt-12">
                    <CircleProgress
                        style="font-size: 38px; font-weight: bold"
                        :percent="70"
                        :viewport="true"
                        :show-percent="true"
                        :is-gradient="true"
                        :gradient="{
                            angle: 90,
                            startColor: '#3232ff',

                            stopColor: ' #b3f1ff',
                        }"
                        :size="250"
                    />
                </div>
                <div class="overHalf mt-6">
                    <p class="overHalf mt-6">
                        Discover rare abstract painting and
                    </p>
                    <span>Collect NFTS </span>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import image from "../assets/diet.png";

import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
gsap.registerPlugin(ScrollTrigger);

import { ref, onMounted } from "vue";
import CircleProgress from "vue3-circle-progress";
import "vue3-circle-progress/dist/circle-progress.css";

export default {
    name: "ItrainerDietProgram",

    data() {
        return {
            image,
            interval: {},
            value: 0,
        };
    },
    components: {
        CircleProgress: CircleProgress,
    },

    methods: {},

    setup() {
        const percent = ref(75);

        onMounted(() => {
            setInterval(() => {
                if (percent.value === 25) {
                    percent.value = 75;
                } else {
                    percent.value = 25;
                }
            }, 1000);
        });
        return {
            percent,
        };
    },

    mounted() {
        gsap.to(".movePicc", {
            scrollTrigger: {
                trigger: ".smooth-contentt",
                markers: false,
                start: "top top",
                end: "+=400",

                scrub: 1,
            },
            opacity: 1,
            y: -300,
        });
    },
};
</script>

<style scoped>
.progressDiet {
    src: url(../.././public/fonts/Gilroy-Bold.ttf);
    scroll-behavior: none;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -230, 0, 1);
}

.panel {
    height: 100vh;
}
.feelBest {
    font-size: 45px;
    font-weight: 600;
}
.programs {
    font-size: 65px;
    font-weight: bold;
}
.overHalf {
    src: url(../.././public/fonts/Gilroy-Bold.ttf);
    font-size: 38px;
    font-weight: bold;
}
.overHalf:hover {
    background: linear-gradient(270deg, #b3f1ff 0%, #3232ff 100%),
        linear-gradient(97.56deg, #3232ff 30.27%, #9acbff 92.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.degree {
    font-size: 50px;
    font-weight: bold;
}
.fixDiv {
    background-color: linear-gradient(#ffffff 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 28px;

    margin: 0 16rem;
}
span {
    background: linear-gradient(270deg, #b3f1ff 0%, #3232ff 100%),
        linear-gradient(97.56deg, #3232ff 30.27%, #9acbff 92.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.v-progress-circular {
    margin: 1rem;
}
.smooth-content {
    transform: translate(0px, 0) !important;
}

@media only screen and (max-width: 1350px) {
    .overHalf {
        font-size: 32px;
    }
    .fixDiv {
        margin: 0 16rem;
    }
}
@media only screen and (max-width: 1050px) {
    .fixDiv {
        width: 60%;
        margin: auto;
    }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .fixDiv {
        width: 70%;
        margin: auto;
    }
}

@media only screen and (max-width: 600px) {
    .fixDiv {
        width: 80%;
        margin: auto;
    }
    .feelBest {
    font-size: 42px;
    }
    .programs {
    font-size: 60px;
}
}
</style>
