<template>
    <section class="bg-black pb-48 videoSection pt-20">
        <div class="flex justify-center mb-6 workoutContainer">
            <div class="pt-5">
                <img class="mb-10 mx-auto movedPic" :src="workout" alt="" />
                <h4 class="text-white font-bold workouts">Workouts</h4>
            </div>
        </div>

        <div class="videoBackground flex justify-center">
            <video
                id="my-video"
                class="videoOn p-8"
                controls
                preload="auto"
                width="440"
                height="220"
                poster="../assets/image4.jpg"
                data-setup="{}"
            >
                <source :src="video" type="video/mp4" />
                <source :src="videoTwo" type="video/webm" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider
                    upgrading to a web browser that
                    <a
                        href="https://videojs.com/html5-video-support/"
                        target="_blank"
                        >supports HTML5 video</a
                    >
                </p>
            </video>
        </div>
        <div class="flex gap-6 iconsDivs mx-32 mt-8">
            <div class="clockContainer movingDiv text-center w-1/2 p-8">
                <img class="m-auto mb-4" :src="clock" alt="" />
                <p class="text-bold mb-4 paragraphIcon text-white">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Excepturi eos enim quasi tempore fuga dolore repudiandae.
                </p>
            </div>
            <div class="steelContainer movingDiv text-center w-1/2 p-8">
                <img class="m-auto mb-4" :src="steel" alt="" />
                <p class="text-bold paragraphIcon mb-4 text-white">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Excepturi eos enim quasi tempore fuga dolore repudiandae.
                </p>
            </div>
        </div>
    </section>
</template>

<script>
import img4 from "../assets/image4.jpg";
import video from "../assets/video.mp4";
import videoTwo from "../assets/video.webm";
import workout from "../assets/workouts.png";
import background from "../assets/bg.png";
import clock from "../assets/clock.png";
import steel from "../assets/steel.png";

import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
gsap.registerPlugin(ScrollTrigger);
export default {
    name: "SecondWorkouts",

    data() {
        return {
            workout,
            video,
            videoTwo,
            img4,
            background,
            clock,
            steel,
        };
    },

    mounted() {
        gsap.to(".movedPic", {
            scrollTrigger: {
                trigger: ".workoutContainer",
                markers: false,
                start: "top top",
                end: "+=400",
                scrub: 1,
            },
            opacity: 1,
            y: -300,
        });
        gsap.to(".videoSection", {
            scrollTrigger: {
                trigger: ".movingDiv",
                markers: false,
                start: "top top",
                end: "+=400",
                scrub: 1,
            },
            opacity: 1,
            y: -300,
        });
    },

    methods: {},
};
</script>

<style scoped>
.workouts {
    font-size: 4.5rem;
}
.videoBackground {
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    border-radius: 2rem;
    margin: 4rem 8rem 0rem 8rem;
}

.videoOn {
    border-radius: 3rem;
}
.clockContainer,
.steelContainer {
    background-image: url(../assets/bg.png);

    background-repeat: no-repeat;
    border-radius: 2rem;
}
.clockContainer p,
.steelContainer p {
    font-size: 2rem;
    line-height: 40px;
    font-weight: bold;
}

.clockContainer img,
.steelContainer img {
    background: white;
    padding: 0.3rem;

    border-radius: 1rem;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .iconsDivs {
        flex-wrap: wrap;
        width: 150%;
        margin: 2rem 8rem 10rem 8rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .videoBackground {
        width: 90%;
        margin: auto;
    }
    .iconsDivs {
        margin: 2rem 3rem 10rem 3rem;
    }
    .paragraphIcon {
        font-size: 20px !important;
        line-height: 2rem !important;
    }
}
@media only screen and (min-width: 600px) and  (max-width: 768px) {
    .videoBackground {
        width: 90%;
        margin: auto;
    }
    .iconsDivs {
        margin: 2rem 2rem 10rem 2rem;
              flex-wrap: wrap;
        margin: auto;
        margin-top: 2rem;
    }
    .paragraphIcon {
        font-size: 25px !important;
        line-height: 2.2rem !important;
    }
      .movingDiv{
        width: 90%;
        margin: auto;

    }


}
@media only screen and (max-width: 600px) {
    .videoBackground {
        width: 90%;
        margin: auto;
    }
    .iconsDivs{
        flex-wrap: wrap;
        margin: auto;
        margin-top: 2rem;
        
    }
    .movingDiv{
        width: 90%;
        margin: auto;

    }
        .paragraphIcon {
        font-size: 23px !important;
        line-height: 2.2rem !important;
    }


}


</style>
