<template>
    <div>
        <section
            class="whole-wrapper o-scroll terms-style"
            id="js-scroll"
            data-scroll-container
        >
            <div
                id="Privacy-poilcy"
                data-scroll-section
                class="itrainer-term-use"
            >
                <div>
                    <h2 class="term-conditions mb-16">iTrainer Terms of Use</h2>
                    <h6 class="legal-notices mb-8">
                        Legal Information & Notices
                    </h6>
                </div>

                <div>
                    <h3>Terms & Conditions</h3>
                    <p>
                        By downloading or using the app, these terms will
                        automatically apply to you – you should make sure
                        therefore that you read them carefully before using the
                        app. You’re not allowed to copy or modify the app, any
                        part of the app, or our trademarks in any way. You’re
                        not allowed to attempt to extract the source code of the
                        app, and you also shouldn’t try to translate the app
                        into other languages or make derivative versions. The
                        app itself, and all the trademarks, copyright, database
                        rights, and other intellectual property rights related
                        to it, still belong to codebase.
                    </p>
                    <p>
                        codebase is committed to ensuring that the app is as
                        useful and efficient as possible. For that reason, we
                        reserve the right to make changes to the app or to
                        charge for its services, at any time and for any reason.
                        We will never charge you for the app or its services
                        without making it very clear to you exactly what you’re
                        paying for.
                    </p>
                    <p>
                        The iTrainer: Diet & Exercise Plan AI app stores and
                        processes personal data that you have provided to us, in
                        order to provide our Service. It’s your responsibility
                        to keep your phone and access to the app secure. We,
                        therefore, recommend that you do not jailbreak or root
                        your phone, which is the process of removing software
                        restrictions and limitations imposed by the official
                        operating system of your device. It could make your
                        phone vulnerable to malware/viruses/malicious programs,
                        compromise your phone’s security features and it could
                        mean that the iTrainer: Diet & Exercise Plan AI app
                        won’t work properly or at all.
                    </p>
                    <p>
                        The app does use third-party services that declare their
                        own Terms and Conditions.
                    </p>
                    <p>
                        Link to Terms and Conditions of third party service
                        providers used by the app
                    </p>
                    <ul>
                        <li>Google Play Services</li>
                        <li>Google Analytics for Firebase</li>
                        <li>Firebase Crashlytics</li>
                        <li>Facebook</li>
                        <li>Gmail</li>
                    </ul>
                </div>
                <div>
                    <p>
                        You should be aware that there are certain things that
                        codebase will not take responsibility for. Certain
                        functions of the app will require the app to have an
                        active internet connection. The connection can be Wi-Fi
                        or provided by your mobile network provider, but
                        codebase cannot take responsibility for the app not
                        working at full functionality if you don’t have access
                        to Wi-Fi, and you don’t have any of your data allowance
                        left.
                    </p>
                    <p>
                        If you’re using the app outside of an area with Wi-Fi,
                        you should remember that the terms of the agreement with
                        your mobile network provider will still apply. As a
                        result, you may be charged by your mobile provider for
                        the cost of data for the duration of the connection
                        while accessing the app, or other third-party charges.
                        In using the app, you’re accepting responsibility for
                        any such charges, including roaming data charges if you
                        use the app outside of your home territory (i.e. region
                        or country) without turning off data roaming. If you are
                        not the bill payer for the device on which you’re using
                        the app, please be aware that we assume that you have
                        received permission from the bill payer for using the
                        app.
                    </p>
                    <p>
                        Along the same lines, codebase cannot always take
                        responsibility for the way you use the app i.e. You need
                        to make sure that your device stays charged – if it runs
                        out of battery and you can’t turn it on to avail the
                        Service, codebase cannot accept responsibility.
                    </p>
                    <p>
                        With respect to codebase’s responsibility for your use
                        of the app, when you’re using the app, it’s important to
                        bear in mind that although we endeavor to ensure that it
                        is updated and correct at all times, we do rely on third
                        parties to provide information to us so that we can make
                        it available to you. codebase accepts no liability for
                        any loss, direct or indirect, you experience as a result
                        of relying wholly on this functionality of the app.
                    </p>
                    <p>
                        At some point, we may wish to update the app. The app is
                        currently available on Android, iOS & KaiOS – the
                        requirements for the system(and for any additional
                        systems we decide to extend the availability of the app
                        to) may change, and you’ll need to download the updates
                        if you want to keep using the app. codebase does not
                        promise that it will always update the app so that it is
                        relevant to you and/or works with the Android, iOS &
                        KaiOS version that you have installed on your device.
                    </p>
                    <p>
                        However, you promise to always accept updates to the
                        application when offered to you, We may also wish to
                        stop providing the app, and may terminate use of it at
                        any time without giving notice of termination to you.
                        Unless we tell you otherwise, upon any termination, (a)
                        the rights and licenses granted to you in these terms
                        will end; (b) you must stop using the app, and (if
                        needed) delete it from your device.
                    </p>
                    <ul>
                        <li>
                            The application is considered a family place and is
                            not allowed to be used for anything other than the
                            reasons specified in its goals
                        </li>
                        <li>
                            The application and the company have the right to
                            file a report and reserve the data of people in case
                            they violate the laws, and they have the right to
                            stop and delete their account.
                        </li>
                        <li>
                            If it turns out that the person who created the
                            account is a bot and not a human, his IP will be
                            permanently blocked.
                        </li>
                        <li>
                            It is forbidden to publish advertisements, and the
                            company is the one that allows such things. The
                            company is not responsible for what people publish,
                            and it is necessary to inform the company of any
                            violation of its laws.
                        </li>
                        <li>
                            The application is not responsible for entering
                            wrong data that results in an error in the
                            application’s outputs, such as diet, training, and
                            other application features.
                        </li>
                        <li>
                            You should refer to the doctor in case of any
                            disease before or after using the application
                        </li>
                        <li>
                            Therefore, you should check with your doctor before
                            using any of the application’s outputs, such as
                            diet, training, and other application features.
                        </li>
                    </ul>
                </div>
                <div>
                    <h3>Changes to This Terms and Conditions</h3>
                    <p>
                        We may update our Terms and Conditions from time to
                        time. Thus, you are advised to review this page
                        periodically for any changes. We will notify you of any
                        changes by posting the new Terms and Conditions on this
                        page.
                    </p>
                    <p>
                        These terms and conditions are effective as of
                        2021-07-01
                    </p>
                </div>
                <div>
                    <h3>Contact Us</h3>
                    <p>
                        If you have any questions or suggestions about our Terms
                        and Conditions, do not hesitate to contact us at :
                    </p>
                    <ul>
                        <li>
                            By email:
                            <a> itrainerapplication@codebase-tech.com </a>
                        </li>
                        <li>
                            By visiting this page on our website:<a>
                                itrainer.fit
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    name: "TermOfUse",

    data() {
        return {};
    },

    mounted() {},

    methods: {},
};
</script>

<style scoped>
.itrainer-term {
    margin-bottom: 10rem;
    display: none;
}

.itrainer-term-use {
    color: #404041;
    margin: 8rem 4rem;
}
.term-conditions {
    src: url(../../public/fonts/Gilroy-Bold.ttf);
    text-align: center;
    font-size: 3.2rem;
    line-height: 0px;
}
.terms-style .itrainer-term-use {
    margin-top: 8rem;
    margin-bottom: 8rem;
}
.legal-notices {
    font-size: 2rem;
    text-align: center;
    line-height: 0px;
}
.itrainer-term-use div h3 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.itrainer-term-use div p,
ul li {
    font-size: 1.4rem;
    src: url(../../public/fonts/Gilroy-Bold.ttf);
}
.itrainer-term-use div ul li a {
    color: #3232ff;
}
.footer-Section div span a {
    color: #9795b5;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}
.copy-right {
    font-size: 1.3rem;
    font-weight: 400;
}
.footer-Section {
    display: flex;
    margin: 3rem 11rem 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-Section div img {
    margin: 0.6rem 0;
}
.footer-Section div i {
    color: #3232ff;
    background: rgba(187, 187, 255, 0.28);
    padding: 0.7rem;
    border-radius: 0.3rem;
    margin: 3.6rem 0.4rem 0;
    font-size: 1.3rem;
}
.privacy-policy a {
    color: #9795b5;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 0.8rem;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.1rem;
}
</style>
