<template>
    <div>
        <div>
            <section
                id="watch-container"
                class="container mx-auto text-center"
                data-scroll-section
            >
                <div
                    id="introductory"
                    class="customized-scrollbar container"
                    data-scroll-section-inner
                    tabindex="0"
                >
                    <div
                        class="gradient-text text-xl mx-8 px-10"
                        id="gradient-text-wrapper"
                    >
                        <div
                            data-marker-content="box1"
                            class="header-total-care watch-box"
                        >
                            <div class="font-bold single-intro-text">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />

                        <div
                            data-marker-content="box2"
                            class="watch-box secondDiv"
                        >
                            <div class="single-intro-text font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <div
                            data-marker-content="box3"
                            class="watch-box thirdDiv"
                        >
                            <div class="single-intro-text font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <div
                            data-marker-content="box4"
                            class="watch-box fourthDiv"
                        >
                            <div class="single-intro-text font-bold">
                                The sky is the limit. The features that you get
                                with iTrainer when it comes to exercise,
                                nutrition, and even your personal and
                                professional life are limitless. Let’s get to
                                know some of them. .All in the App
                            </div>
                        </div>
                    </div>

                    <div
                        class="mockup-holder watchh relative images"
                        id="intro-mockup-inner"
                    >
                        <img :src="watch" class="boxx absolute" alt="mob" />
                        <div class="img-container">
                            <img
                                class="insideImg absolute"
                                v-for="(item, index) in images"
                                :key="index"
                                :src="item"
                                :class="{ active: activeImg == index }"
                            />
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script setup>
import { onMounted, ref } from "vue";
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";

import watch1 from "../assets/watch1.png";
import watch2 from "../assets/watch2.png";
import watch3 from "../assets/watch3.png";
import watch4 from "../assets/watch4.png";
import watch from "../assets/watch_mockup.png";

gsap.registerPlugin(ScrollTrigger);

const initAnimation = () => {
    const handleUpdate = (i) => {
        activeImg.value = i;
        console.log(activeImg);
    };
    const texts = document.querySelectorAll(".watch-box");
    texts.forEach((item, i) => {
        let tl = gsap.timeline({
            scrollTrigger: {
                trigger: item,
                start: "bottom bottom",
                end: "bottom bottom",
                scrub: 1,
                markers: false,
                snap: false,
                onUpdate: () => handleUpdate(i),
            },
        });
        tl.fromTo(
            item,
            0.2,
            { yPercent: 0, autoAlpha: 1 },
            { yPercent: 0, autoAlpha: 1 }
        );
    });
};
const images = ref([watch1, watch2, watch3, watch4]);
const activeImg = ref(0);

onMounted(() => {
    initAnimation();
});
</script>

<style scoped>
#watch-container {
    margin: 8rem 2rem 4rem 4rem;
}

.header-total-care {
    font-size: 3.8rem;
    src: url(../../public/fonts/Gilroy-Bold.ttf);
    line-height: 3.9rem;
    background: linear-gradient(270deg, #b3f1ff 0%, #3232ff 100%),
        linear-gradient(97.56deg, #3232ff 30.27%, #9acbff 92.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.single-intro-text {
    font-size: 2.2rem;
    src: url(../../public/fonts/Gilroy-Bold.ttf);
    line-height: 3.4rem;
    background: linear-gradient(270deg, #b3f1ff 0%, #3232ff 100%),
        linear-gradient(97.56deg, #3232ff 30.27%, #9acbff 92.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    width: 35rem;
}
.boxx {
    position: absolute;
    left: 200%;
    max-width: 320px;
    transform: translate(-90%, 18%);
}
.mockup-holder {
    position: sticky;
    width: fit-content;
    top: 0;
    height: 100vh;
}
#introductory {
    display: flex;
    position: relative;
}

.insideImg {
    opacity: 0;
    transform: translateX(10px);
    position: absolute;
    top: 121%;
    left: 79.5%;
    bottom: 0;
    right: 0;
    max-width: 216px;
    border-radius: 2.5rem;
}
.img-container {
    width: 200px;
    height: 200px;
    position: relative;
}

img.active {
    transition: all 0.5s ease-in-out;
    transform: translateX(0px);
    opacity: 1;
}

    @media only screen and (min-width: 1200px) {
    .customized-scrollbar {
        margin-top: 15rem;
    }
       .boxx {
        
    transform: translate(-115%, 18%);

    }
    .insideImg {
        left: 40%;
    }

    }

@media only screen and (min-width: 992px)and (max-width: 1200px)  {
      .customized-scrollbar {
        margin-top: 15rem;
    }
       .boxx {
        
    transform: translate(-115%, 18%);

    }
    .insideImg {
        left: 40%;
    }
    .gradient-text{
        padding: 0;
        margin: 0;
    }
.single-intro-text {
    font-size: 2rem;
}

}
@media only screen and (min-width: 768px) and (max-width: 992px) {
      .customized-scrollbar {
        margin-top: 15rem;
    }
       .boxx {
        
    transform: translate(-115%, 18%);

    }
    .insideImg {
        left: 40%;
    }
    .gradient-text{
        padding: 0;
        margin: 0;
    }
.single-intro-text {
    font-size: 1.6rem;
    width: 26rem;
    margin-left: .4rem;
}
#watch-container {
    margin: 8rem auto 4rem auto;
}

}
@media only screen and (min-width: 600px) and (max-width: 768px) {
        .mockup-holder {
        display: none;
    }

    .single-intro-text {
        font-size: 1.6rem;
        margin: auto;
    }
    .gradient-text {
        padding: 0 ;
        margin: auto;

    }

    #watch-container {
        margin: 8rem auto 4rem auto ;
    }
}
@media only screen and (max-width: 600px) {
       .mockup-holder {
        display: none;
    }

     .single-intro-text {
        font-size: 1.5rem;
        margin: auto;
        width: 90%;
    }
    .gradient-text {
        padding: 0 ;
        margin: auto;

    }

    #watch-container {
        margin: 8rem auto 4rem auto ;
    }

}


</style>
