<template>
    <section class="flex mb-12 align-center justify-center">
        <div
            class="text-center appWatchContainer shadow-2xl p-20 rounded-2 m-auto"
        >
            <h2 class="appWatch">Itrainer App watch</h2>
            <img class="m-auto watchApple w-80 mb-2" :src="watch" alt="" />
            <p class="magical">
                A magical connection<br />
                to your devices.
            </p>
        </div>
    </section>
</template>

<script>
import watch from "../assets/watch.png";
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";

gsap.registerPlugin(ScrollTrigger);
export default {
    name: "ItrainerWatchMove",

    data() {
        return {
            watch,
        };
    },

    mounted() {
        gsap.to(".watchApple", {
            scrollTrigger: {
                trigger: ".appWatchContainer",
                markers: false,
                start: "top top",
                end: "+=400",
                scrub: 1,
            },
            opacity: 1,
            y: -300,
        });
    },

    methods: {},
};
</script>

<style scoped>
.appWatch {
    font-size: 5rem;
    margin-bottom: 1.3rem;
    text-align: center;
    letter-spacing: 2px;
    background: linear-gradient(270deg, #b3f1ff 0%, #3232ff 100%),
        linear-gradient(97.56deg, #3232ff 30.27%, #9acbff 92.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
    text-fill-color: transparent;
}
.magical {
    font-size: 35px;
    font-weight: 600;
    color: #404041;
    line-height: 35px;
}
.appWatchContainer {
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 992px){  
    .appWatchContainer{
        width: 90%;
    }

      .appWatch{
        font-size: 4.5rem;
    } 
}
@media only screen and (min-width: 600px) and  (max-width: 768px) {
       .appWatchContainer{
        width: 90%;
    }
    .appWatch{
        font-size: 4rem;
    } 
}



@media only screen and (max-width: 600px) {
    .appWatch {
        font-size: 3.3rem;
    }
         .appWatchContainer{
        width: 90%;
    }
}
</style>
