<template>
    <section class="site-section" id="watchesSection" data-scroll-section>
        <div
            class="swiper-container swiper-full-mobile swiper-container-initialized swiper-container-horizontal"
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img :src="watch1" alt="Watch 1" />
                </div>
                <div class="swiper-slide">
                    <img :src="watch2" alt="Watch 2" />
                </div>
                <div class="swiper-slide">
                    <img :src="watch3" alt="Watch 3" />
                </div>
                <div class="swiper-slide">
                    <img :src="watch4" alt="Watch 4" />
                </div>
                <div class="swiper-slide">
                    <img :src="watch1" alt="Watch 1" />
                </div>
                <div class="swiper-slide">
                    <img :src="watch2" alt="Watch 2" />
                </div>
                <div class="swiper-slide">
                    <img :src="watch3" alt="Watch 3" />
                </div>
                <div class="swiper-slide">
                    <img :src="watch4" alt="Watch 4" />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import watch1 from "../assets/watch1.png";
import watch2 from "../assets/watch2.png";
import watch3 from "../assets/watch3.png";
import watch4 from "../assets/watch4.png";
import mockWatch from "../assets/watch_mockup.png";
import { Swiper } from "swiper";
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";

gsap.registerPlugin(ScrollTrigger);
export default {
    name: "ItrainerWatchesApple",

    data() {
        return {
            watch1,
            watch2,
            watch3,
            watch4,
            mockWatch,
        };
    },

    mounted() {
        var swiperMobile = new Swiper(".swiper-container.swiper-full-mobile", {
            slidesPerView: "auto",
            spaceBetween: 20,
            slideToClickedSlide: true,
            centeredSlides: true,
            pagination: false,
            loop: true,
            autoplay: false,
            keyboard: {
                enabled: true,
                onlyInViewport: true,
            },
            navigation: false,
            breakpoints: {
                1100: {
                    freemode: true,
                    slidesPerView: 3,
                    spaceBetween: 20,
                },
                1000: {
                    freemode: true,
                    slidesPerView: 2.5,
                    spaceBetween: 20,
                },
                950: {
                    freemode: true,
                    slidesPerView: 2.5,
                    spaceBetween: 20,
                },
                900: {
                    freemode: true,
                    slidesPerView: 2.3,
                    spaceBetween: 20,
                },

                850: {
                    freemode: true,
                    slidesPerView: 2,
                    spaceBetween: 20,
                },

                800: {
                    freemode: true,
                    slidesPerView: 2,
                    spaceBetween: 30,
                },
                750: {
                    freemode: true,
                    slidesPerView: 1.5,
                    spaceBetween: 30,
                },
                700: {
                    freemode: true,
                    slidesPerView: 1.5,
                    spaceBetween: 30,
                },
                660: {
                    freemode: true,
                    slidesPerView: 1.2,
                    spaceBetween: 30,
                },

                640: {
                    freemode: true,
                    slidesPerView: 3,
                    spaceBetween: 20,
                },
                320: {
                    freemode: true,
                    slidesPerView: 3,
                    spaceBetween: 20,
                },
            },
        });
        console.log(swiperMobile);
    },
};
</script>

<style scoped>
/**************/
.watch-section .section-title {
    position: relative;
    margin-bottom: 1rem;
}

.watch-section .section-title .gradient-text {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 60px;
    bottom: 0;
    z-index: -1;
    font-size: 6.875rem;
}

.watch-section .section-title img {
    max-width: 250px;
}

.watch-section .diet-intro-content {
    padding-top: 3rem;
}

#watches-hand-section #watches-mockup-inner > img {
    height: 670px;
}

#watches-hand-container .mockup-holder {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#watches-hand-container .mockup-images {
    width: 266px;
    top: 178px;
    left: 57px;
    border-radius: 43px;
    height: 312px;
}

#watchesSection .swiper-container {
    width: 100%;
    height: 100%;
}

#watchesSection .swiper-full-mobile {
    position: relative;
    margin: auto;
    padding: 15rem 10rem;
}

#watchesSection .swiper-full-mobile:before {
    content: "";
    width: 320px;
    background: url(../assets/watch_mockup.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    height: 560px;
    z-index: 2;
    margin: auto;
    margin-top: 7.5rem;
    background-position: center;
}

#watchesSection .swiper-full-mobile .swiper-slide {
    height: 100%;
    width: 265px;
    text-align: center;
    margin-right: -33px;
}

#watchesSection .swiper-full-mobile .swiper-slide img {
    height: 323px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 30px;
    -webkit-transition: 0.4s all ease-in-out;
    -o-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out;
}

#watchesSection .swiper-slide.swiper-slide-active img {
    width: 220px;
    height: 279px;
    margin-top: 5%;
    border-radius: 34px;
    margin-left: 50px;
}

.site-section.watch-section {
    margin-top: 3rem;
}
@media only screen and (min-width: 1350px) {
    #watchesSection .swiper-slide.swiper-slide-active img {
        margin-left: 50px;
        width: 222px;
        height: 280px;
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1350px) {
    #watchesSection .swiper-slide.swiper-slide-active img {
        margin-left: 42px;
        width: 222px;
        height: 280px;
    }
}

@media only screen and (min-width: 1250px) and (max-width: 1300px) {
    #watchesSection .swiper-slide.swiper-slide-active img {
        margin-left: 32px;
        width: 222px;
        height: 280px;
        margin-top: 7%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1250px) {
    #watchesSection .swiper-slide.swiper-slide-active img {
        width: 224px;
        height: 279px;
        margin-top: 6%;
        border-radius: 34px;
        margin-left: 23px;
    }
}

@media only screen and (min-width: 1150px) and (max-width: 1200px) {
    #watchesSection .swiper-slide.swiper-slide-active img {
        width: 226px;
        height: 279px;
        margin-top: 6%;
        border-radius: 34px;
        margin-left: 14px;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1150px) {
    #watchesSection .swiper-slide.swiper-slide-active img {
        width: 226px;
        height: 279px;
        margin-top: 6%;
        border-radius: 34px;
        margin-left: 5px;
    }
}
@media only screen and (min-width: 1050px) and (max-width: 1100px) {
    #watchesSection .swiper-slide.swiper-slide-active img {
        width: 228px;
        height: 279px;
        margin-top: 8%;
        border-radius: 34px;
        margin-left: 23px;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1050px) {
    #watchesSection .swiper-slide.swiper-slide-active img {
        width: 225px;
        height: 279px;
        margin-top: 7%;
        border-radius: 34px;
        margin-left: 15px;
    }
}

@media only screen and (min-width: 950px) and (max-width: 1000px) {
    #watchesSection .swiper-slide.swiper-slide-active img {
        width: 229px;
        height: 279px;
        margin-top: 9%;
        border-radius: 34px;
        margin-left: 6px;
    }
}
@media only screen and (min-width: 900px) and (max-width: 950px) {
    #watchesSection .swiper-slide.swiper-slide-active img {
        width: 229px;
        height: 279px;
        margin-top: 9%;
        border-radius: 34px;
        margin-left: 6px;
    }
}
@media only screen and (min-width: 850px) and (max-width: 900px) {
    #watchesSection .swiper-slide.swiper-slide-active img {
        width: 229px;
        height: 274px;
        margin-top: 9%;
        border-radius: 34px;
        margin-left: 9px;
    }
}
@media only screen and (min-width: 800px) and (max-width: 850px) {
    #watchesSection .swiper-slide.swiper-slide-active img {
        width: 229px;
        height: 274px;
        margin-top: 9%;
        border-radius: 34px;
        margin-left: -3px;
    }
}
@media only screen and (min-width: 750px) and (max-width: 800px) {
    #watchesSection .swiper-slide.swiper-slide-active img {
        width: 230px;
        height: 274px;
        margin-top: 9%;
        border-radius: 34px;
        margin-left: 20px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 750px) {
    #watchesSection .swiper-slide.swiper-slide-active img {
        width: 230px;
        height: 274px;
        margin-top: 9%;
        border-radius: 34px;
        margin-left: 3px;
    }
}
@media only screen and (min-width: 650px) and (max-width: 700px) {
    #watchesSection .swiper-slide.swiper-slide-active img {
        width: 230px;
        height: 271px;
        margin-top: 8%;
        border-radius: 34px;
        margin-left: 23px;
    }
}
@media only screen and (max-width: 660px) {
    #watchesSection{
        display: none;
    }
}
</style>
