<template>
    <div class="flex wheels mx-20 gap-8 my-20">
        <div class="w-1/2 wheelsSection m-auto">
            <h3 class="earnToken font-bold mb-12">How to earn tokens?</h3>
            <p class="earnTokenn">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text.
            </p>
        </div>
        <div class="w-1/2 flex m-auto wheelsContainer">
            <div class="wheelsMove">
                <img class="mt-6 wheelsPic" :src="wheels" alt="" />
            </div>
        </div>
    </div>
</template>

<script>
import wheels from "../assets/wheel.png";
export default {
    name: "WheelCircle",

    data() {
        return {
            wheels,
        };
    },

    mounted() {
        const container = document.querySelector(".wheelsContainer");
        const wheels = document.querySelector(".wheelsMove");
        container.addEventListener("mousemove", (e) => {
            console.log(e.pageX, e.pageY);
            let xAxis = (window.innerWidth / 2 - e.pageX) / 110;
            let yAxis = (window.innerHeight / 2 - e.pageY) / 110;
            wheels.style.transform = `rotateY(${yAxis}deg)  rotateX(${xAxis}deg) scaleX(-1)`;
        });

        container.addEventListener("mouseenter", (e) => {
            wheels.style.transition = "none";
            console.log(e);
        });

        container.addEventListener("mouseleave", (e) => {
            console.log(e);
            wheels.style.transition = "all 0.5s ease";
            wheels.style.transform = "rotateY(0 deg) rotateX(0 deg)";
        });
    },

    methods: {},
};
</script>

<style scoped>
.wheelsContainer {
    perspective: 1000px;
}

.earnToken {
    background: linear-gradient(270deg, #b3f1ff 0%, #3232ff 100%),
        linear-gradient(97.56deg, #3232ff 30.27%, #9acbff 92.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 72px;
    line-height: 76px;
}
.earnTokenn {
    font-size: 20px;
    line-height: 33px;
    color: #404041;
}

.wheelsMove {
    transform-style: preserve-3d;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



    @media only screen and (min-width: 1200px) {

.wheels {
    padding: 0 2.5rem;
}
    }


@media only screen and (min-width: 992px)and (max-width: 1200px)  {

.earnToken{
    
    font-size: 68px;

}
}


@media only screen and (min-width: 768px) and (max-width: 992px){  
.wheels{
      padding: 0.3rem;
        flex-wrap: wrap;
     
}

.wheelsMove{
      width: 80%;
    margin: auto;
}

.wheelsContainer{
      margin:-6px;
        width: 102%;
}
.wheelsSection{
      width: 100%;
        text-align: center;
        margin-bottom: 10rem;
}
.earnTokenn{
      font-size: 22px;
    line-height: 35px;
}

}
@media only screen and (min-width: 600px) and  (max-width: 768px) {

    .wheels{
      padding: 0.3rem;
        flex-wrap: wrap;
     
}

.wheelsMove{
      width: 80%;
    margin: auto;
}

.wheelsContainer{
      margin:-6px;
        width: 102%;
}
.wheelsSection{
      width: 100%;
        text-align: center;
        margin-bottom: 10rem;
}
.earnTokenn{
      font-size: 22px;
    line-height: 35px;
}
}

@media only screen and (max-width: 600px) {

    .wheels{
      padding: 0.3rem;
        flex-wrap: wrap;
     
}

.wheelsMove{
      width: 80%;
    margin: auto;
}

.wheelsContainer{
      margin:-6px;
        width: 102%;
}
.wheelsSection{
      width: 100%;
        text-align: center;
        margin-bottom: 10rem;
}
.earnTokenn{
      font-size: 22px;
    line-height: 35px;
}
.earnToken{
    font-size: 65px;
}

}

</style>
