<template>
    <section class="services-section" id="servicesSection">
        <div class="services-inner horizontal flex">
            <div class="single-service-wrapper diet panel">
                <div class="service-wrapper box-1 box">
                    <h3 class="service-name">Diet</h3>
                    <img :src="diet" class="service-image" />
                </div>
            </div>
            <div class="single-service-wrapper workout panel">
                <div class="service-wrapper box-2 box">
                    <h3 class="service-name">Workouts</h3>
                    <img :src="workouts" class="service-image" />
                </div>
            </div>
            <div class="single-service-wrapper nft panel">
                <div class="service-wrapper box-3 box">
                    <h3 class="service-name">NFT</h3>
                    <img :src="ntf" class="service-image" />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
import ntf from "../assets/nft.png";
import workouts from "../assets/workouts.png";
import diet from "../assets/diet.png";

gsap.registerPlugin(ScrollTrigger);

export default {
    name: "ItrainerWorkouts",

    data() {
        return {
            ntf,
            workouts,
            diet,
        };
    },
    mounted() {
        let horizontalSections =
            document.querySelectorAll(".horizontal .panel");
        gsap.to(horizontalSections, {
            xPercent: -100 * (horizontalSections.length - 1),
            ease: "none",
            scrollTrigger: {
                trigger: ".horizontal",
                pin: true,
                start: "top top",
                scrub: 1,
                markers: false,
                end: "+=3500",
            },
        });
    },
};
</script>

<style scoped>
.services-inner {
    flex-wrap: nowrap;
    display: flex;
    width: 100%;
    max-width: 2000px;
    height: 100vh;
}
.panel {
    color: white;
    margin: 0rem 5rem;
    width: 600px;
    align-content: center;
    flex-shrink: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.services-inner {
    top: -60px;
}

.services-section .single-service-wrapper .service-name {
    color: #f1f1f1;
    font-size: 10rem;
    margin-top: 10rem;
    src: url(../../public/fonts/Gilroy-Bold.ttf);
}

.services-section .single-service-wrapper .service-image {
    max-height: 160px;
    margin: 5rem 11rem 0;
}

@media only screen and (min-width: 1200px) {
    .services-inner {
        top: -60px;
    }
}


@media only screen and (min-width: 992px)and (max-width: 1200px)  {

.services-section .single-service-wrapper .service-name {
     font-size: 9rem;
}

}

@media only screen and (min-width: 768px) and (max-width: 992px){  
    .services-section .single-service-wrapper .service-name {
     font-size: 8rem;
}
.panel{
    margin: 0rem 4rem;

}


}
@media only screen and (min-width: 600px) and  (max-width: 768px) {

    .services-section .single-service-wrapper .service-name {
     font-size: 7rem;
}
.panel{
    margin: 0rem 1rem;

}

}

@media only screen and (max-width: 600px) {

    .services-section .single-service-wrapper .service-name {
     font-size: 7rem;
}
.panel{
    margin: 0rem 0rem;

}

}

</style>
