<template>
    <div>
        <Header />

        <RouterView />
        <FooterSection />
    </div>
</template>

<script>
import Header from "./components/Header.vue";

import FooterSection from "./components/FooterSection.vue";
export default {
    name: "ItrainerApp",
    components: {
        Header,

        FooterSection,
    },

    data() {
        return {};
    },
};
</script>

<style scoped></style>
